<div id="achievements-modal" class="IMR_modal">

  <div class="IMR_modal-content-wrapper">

    <div class="row">
        
         <span class="close" onclick="closeModal('achievements-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>

    </div>


     <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <center>
                    <div class="ribbons" style="margin-top:-40px">
                        
                        <span>&#x1F3C6;   Achievements </span>

                    </div>  
                    </center>         

                </div>
    </div>
    
    <div class="IMR_modal-content">


    <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="filler-30"></div>

                <div class="item-grid-achievements" id="achievements"></div>

                <div class="filler"></div>
            </div>

    </div>

    </div> <!-- / Modal content -->
  </div> <!-- / Modal content wrapper -->
</div> <!-- / achievements content -->