<div id="blacksmith-modal" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">

        <span class="close" onclick="closeModal('blacksmith-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>

      <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <center>
                <div class="ribbons">
                    
                    <span><img class="icon" src="img/images/blacksmith.png"> Blacksmith</span>

                </div>  
                </center>         

            </div>
        </div>
    
    <div class="IMR_modal-content">

    <div class="row">

        <div class="col-md-6">

            <div class="alert alert-info alert-dismissable" style="margin-top:0px;">
                <p>RUNES AND GENERAL CRAFTING</p>
            </div>
            <br/>
            <p style="font-size: 1vw; color:red">Here you can craft Elemental Runes for auto-gather upgrades using the options below. Don't forget to check the required resources in your inventory using the "I" key</p>
            <br />

            <h5 style="color:#333">* hold the key <img class="icon" src="img/icons/key-i.png"> to open the inventory or click here <button onclick="openInventory()" class="btn btn-success"><img class="icon" src="img/images/bag1.png"/></button></h5>
            <div id="city"></div>

            <div class="filler-30"></div>
               
        </div>

        <div class="col-md-6">

             <div class="alert alert-info alert-dismissable">
                <p><img class="icon" src="img/UI/upgrade.png"> STORAGES UPGRADE</p>
            </div>

            <br/>
            <p style="font-size: 1vw; color:red">Here you can buy storage upgrades using the options below</p>
            <br />

            <div id="storage-buttons"></div>
        </div>

        <div class="col-md-6">

        </div>

    </div>

    <div class="filler"></div>


    <!-- div class="alert alert-info alert-dismissable" style="margin-top:0px;">
        <p>Buy Upgrades to increase the production.</p>
    </div>
    <div class="row hidden" id="upgrade-two-axes">
        <div class="col-xs-4">
            <button id="twoAxes-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.wood, 2, upgrades.twoAxes)"></button>
        </div>
        <div class="col-xs-8 hidden">
            <h6>-<span id="twoAxes-wood-cost"></span> Wood | -<span id="twoAxes-stone-cost"></span> Stone | -<span id="twoAxes-meat-cost"></span> Meat</h6>
            <h6 id="twoAxes-description"></h6>
        </div>
    </div>

    <div class="row hidden" id="upgrade-five-axes">
        <div class="col-xs-4">
            <button id="fiveAxes-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.wood, 5, upgrades.fiveAxes)">Five Axes</button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="fiveAxes-wood-cost"></span> Wood | -<span id="fiveAxes-stone-cost"></span> Stone | -<span id="fiveAxes-meat-cost"></span> Meat</h6>
            <h6 id="fiveAxes-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-ten-axes">
        <div class="col-xs-4">
            <button id="tenAxes-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.wood, 10, upgrades.tenAxes)">Ten Axes</button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="tenAxes-wood-cost"></span> Wood | -<span id="tenAxes-stone-cost"></span> Stone | -<span id="tenAxes-meat-cost"></span> Meat</h6>
            <h6 id="tenAxes-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-two-pickaxes">
        <div class="col-xs-4">
            <button id="twoPickaxes-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.stone, 2, upgrades.twoPickaxes)"></button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="twoPickaxes-wood-cost"></span> Wood | -<span id="twoPickaxes-stone-cost"></span> Stone | -<span id="twoPickaxes-meat-cost"></span> Meat</h6>
            <h6 id="twoPickaxes-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-five-pickaxes">
        <div class="col-xs-4">
            <button id="fivePickaxes-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.stone, 5, upgrades.fivePickaxes)">Five Axes</button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="fivePickaxes-wood-cost"></span> Wood | -<span id="fivePickaxes-stone-cost"></span> Stone | -<span id="fivePickaxes-meat-cost"></span> Meat</h6>
            <h6 id="fivePickaxes-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-ten-pickaxes">
        <div class="col-xs-4">
            <button id="tenPickaxes-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.stone, 10, upgrades.tenPickaxes)">Ten Axes</button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="tenPickaxes-wood-cost"></span> Wood | -<span id="tenPickaxes-stone-cost"></span> Stone | -<span id="tenPickaxes-meat-cost"></span> Meat</h6>
            <h6 id="tenPickaxes-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-two-arrows">
        <div class="col-xs-4">
            <button id="twoArrows-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.meat, 2, upgrades.twoArrows)"></button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="twoArrows-wood-cost"></span> Wood | -<span id="twoArrows-stone-cost"></span> Stone | -<span id="twoArrows-meat-cost"></span> Meat</h6>
            <h6 id="twoArrows-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-five-arrows">
        <div class="col-xs-4">
            <button id="fiveArrows-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.meat, 5, upgrades.fiveArrows)">Five Axes</button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="fiveArrows-wood-cost"></span> Wood | -<span id="fiveArrows-stone-cost"></span> Stone | -<span id="fiveArrows-meat-cost"></span> Meat</h6>
            <h6 id="fiveArrows-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-ten-arrows">
        <div class="col-xs-4">
            <button id="tenArrows-name" class="btn btn-warning btn-block" onmousedown="clickIncrementUpgrade(resource.meat, 10, upgrades.tenArrows)">Ten Axes</button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="tenArrows-wood-cost"></span> Wood | -<span id="tenArrows-stone-cost"></span> Stone | -<span id="tenArrows-meat-cost"></span> Meat</h6>
            <h6 id="tenArrows-description"></h6>
        </div>
    </div>

    <div class="row" id="upgrade-bigger-tents">
        <div class="col-xs-4">
            <button id="biggerTents-name" class="btn btn-warning btn-block" onmousedown="residentSizeUpgrade(buildings.tent, 3, upgrades.biggerTents)">Ten Axes</button>
        </div>
        <div class="col-xs-8">
            <h6>-<span id="biggerTents-wood-cost"></span> Wood | -<span id="biggerTents-stone-cost"></span> Stone | -<span id="biggerTents-iron-cost"></span> Iron | -<span id="biggerTents-meat-cost"></span> Meat</h6>
            <h6 id="biggerTents-description"></h6>
        </div>
    </div -->

    </div> <!-- modal content -->

   </div> <!-- modal content wrap -->

</div>