<div id="tab4" class="tab-content">

   <div class="col-md-12">
    
    <br/>
    <h4>Game base made by: samuelbeard  - more info at <a target="_blank" href="https://github.com/idle-js-games/IncrementalRPG">IncrementalRPG</a></h4>
    <br/>
    <h4>And developed by Romulolink creator of <a id="iir-link" target="_blank" href="https://bit.ly/overaction-game-studio">Island Idle RPG </a>on Steam</h4>
    

    <div ng-include="'views/options.html'"></div>
    
    <br/>
    <h4>Icons provided by <a target="
       "href="https://www.flaticon.com/">Flaticon</a></h4>

       <br />

       <h4>I'm sure YOU ALSO MAY LIKE: </h4>
       <br/>
       <iframe src="https://store.steampowered.com/widget/2023810/" frameborder="0" width="646" height="190"></iframe>

       <h5 class="bb_tag">To request features, enhancements or comunicate issues join us on our discord channel</h5>
       <a href="https://steamcommunity.com/linkfilter/?url=https://discord.gg/yyeU9cszwT" target="_blank" rel=" noopener"><img src="https://cdn.akamai.steamstatic.com/steam/apps/2310190/extras/Steam_page_banner.png?t=1684109195"></a>

   </div>


   <div class="row">
    <div class="col-md-6">
        <hr>
        <div class="progress-content">
            <h3>Update: <span id="version-number-options"></span></h3>

            <br/>
            <ul style="text-align: left;">

                <li>[NEW] -  Two new professions ( blacksmith and mind master )</li>
                <li>[NEW] -  Included progress bars</li>
                <li>[NEW] -  Included Market ( option Sell All Stones)</li>


            </ul>


            <div id="message-info" class="info hidden"></div>

            <div style="height:160px; overflow: scroll;">
                <h3>Previews Updates</h3>
                <h5> Update 0.13.3 - 31-May-2023</h5>
                <br/>
                <ul style="text-align: left;">

                    <li>[ENH] -  Improved Interface</li>
                    <li>[FIX] -  Fixed amount of items used when crafting</li>
                    <li>[NEW] -  Mute option included</li>
                    <li>[FIX] -  Fixed the brick crafting button </li>
                    <li>[ENH] -  Include a message to inform when you need wheat storage </li>

                </ul>


            </div>


        </div>
    </div>

    <div class="col-md-6">
        <hr>
        <div style="height:330px !important; overflow-y: scroll;"  class="progress-content">
            <h3>Upcoming Updates</h3>

            <br/>
            <ul style="text-align: left;">

                <li>[NEW] -  Achievements</li>
                <li>[NEW] -  More items to the Market</li>
                

            </ul>



        </div>
    </div><!-- col-md-6 -->

    <br/>
    <br/>

    <div class="col-md-12">
       

        <center><h1>Feedback</h1></center>
        


        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJJDi_YHN60ECAyYJ9ArUOCmjRa0T5o1Lbq84-3JJVGUVJbQ/viewform?embedded=true" width="640" height="820" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>


        <div class="filler"></div>

    </div>
    


    
</div> <!-- / row -->
</div> <!-- / tab4 -->