<div class="row">
    <div class="col-md-12">
        <div id="dev-buttons" class="hidden">
            <button class="btn btn-warning" onclick="saveGame()">Save</button>
            <button class="btn btn-warning" onclick="clearLocalStorage()">Clear Local Storage</button>
            <button class="btn btn-warning" onclick="maxEverything()">Max Everything</button>
            <button class="btn btn-warning" onclick="upStorage()">Up Storage</button>
            <button class="btn btn-warning" onclick="sendMessage()">Send Message</button>
        </div>
    </div>
</div>