
<div id="tab8" class="row tab-content">

  <div class="container col-md-4">
    <h2>Login</h2>
    <form id="loginForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>