

<div id="market-modal" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">

                    <span class="close" onclick="closeModal('market-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>

                  <div class="row">
                    <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <center>
                            <div class="ribbons">
                                
                                <span><img class="icon" src="img/images/market.png"> Market</span>

                            </div>  
                            </center>         

                        </div>
                    </div>


    
    <div class="IMR_modal-content">

    <div class="row">
    
    <div class="col-md-2"></div>
     <div class="col-md-8">

               <div style="height: 70px;" class="alert alert-info alert-dismissable">
                
                <p> Available to Buy</p>
            </div>

     </div>


    </div>


     <div class="row">

        
        <div class="col-md-1"></div>

        <div class="col-md-10">


        <div class="row">
                
             <div class="col-md-4"></div>
             <div class="item-grid col-md-8" id="market"></div>
            
        </div>
       

        <br/>
        <br/>


        <div class="row">



            <div class="col-md-8">
                
                    <div class="row">
    
                            <div class="col-md-2"></div>

                            <div class="col-md-10">

                                   <div style="height: 70px;" class="alert alert-info alert-dismissable">
                                    
                                                    <p> Available to Sell</p>
                                                </div>

                            </div>

                    </div>


                    <div class="row" id="resources-to-sell">

                              

                    </div>



            </div>    
            <div class="col-md-4">

                <div class="col-xs-12 item-details">

                     <img class="icon-64" src="img/UI/blank.png" id="market-selected-item-icon" />
                     <div class="text-bold" id="market-selected-item-name">Click on an item to select it</div>
                     <div id="market-selected-item-stats">Stats</div>
                     
                     <button id="market-sell-item-btn" class="btn btn-danger actionBtn_deac">Sell</button>
                     <button id="buy-item-btn" class="btn btn-info actionBtn_deac">Buy</button>

                    <div class="input-group col-md-6 col-md-push-3">
                        <span class="input-group-addon">Multiplier x:</span>    

                        <select class="btn btn-default dropdown-toggle" style="animation:none; color:#333" name="buy-x-amount" id="buy-x-amount">
                          <option value="1">1x</option>
                          <option value="10">10x</option>
                          <option value="100">100x</option>
                          <option value="1000">1K</option>
                          <option value="10000">10k</option>
                          <option value="100000">100k</option>
                          <option value="1000000">1M</option>
                        </select>

                    
                    </div>

                </div>
            </div>

            

        </div>


            <br />
            <br/>
            
        


    </div>


    

    <div class="col-md-2">


    </div>

    </div>

    <div class="filler"></div>

</div> <!-- modal content -->
</div> <!-- modal content wrapper-->
</div>