<div>
   <div class="tabs row">

    <div class="col-md-1"></div>
    <div class="logo col-md-4">

      <div>RPG Souls Clicker<image class="icon-36" src="img/swords-logo.png" /></div>
    
    </div>

    <div class="menu-top col-md-9">
        <!-- div class="tab col-xs-2 btn btn-dark-transparent" onclick="openTab('tab-explore')"><img class="icon-16" src="img/images/pickaxe.png"> Explore </div-->
        <div class="tab col-xs-2 btn btn-dark-transparent" onclick="openModal('', '','inventory')"><img class="icon-16" src="img/images/bag1.png"> Inventory</div>
        <div class="tab col-xs-2 btn btn-dark-transparent" onclick="openModal('', '','achievements')">&#x1F3C6; Achievements</div>
        <div class="tab col-xs-2 btn btn-dark-transparent" onclick="openModal('', '','tutorial')"><image class="icon-24" src="img/tutorial.png" /> Tutorial</div>
        <div class="tab col-xs-2 btn btn-dark-transparent" onclick="openModal('', '','options')"><image class="icon-24" src="img/icons/gear.png" /> Options</div>
    </div>


    <div class="coin-hud col-md-2" ><img class="icon" src="img/coin.png"> <span style="margin-bottom: 10px;" id="coin-hud"> Coins</span></div>

</div>

</div>