<div id="modelo-modal" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">


    <span class="close" onclick="closeModal('modelo-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>
    
         <div class="ribbons">
                
                <span><img class="icon-36" src="img/UI/Img_10.png"> Select Monster</span>

            </div>  
    
   <br/>
    
    <div class="IMR_modal-content">



   <div class="col-md-12">

   
        // content goes here

   </div>


   <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr>
        
    </div>

    <div class="col-md-6">
        <hr>


    <br/>


    
</div> <!-- / row -->
</div> <!-- / modal-content -->
</div> <!-- / modal-content wrapper -->
</div> <!-- / modal -->