<div id="museum-modal" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">


    <span class="close" onclick="closeModal('museum-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>
    
         <div class="ribbons">
                
                <span><img class="icon-36" src="img/museum.png"> Museum</span>

            </div>  
    
   <br/>
    
    <div class="IMR_modal-content">


                    <div class="col-md-1"></div>
                    <div class="col-md-10 ">

                    <div class="alert alert-info alert-dismissable">
                        <p><img class="icon silhueta" src="img/monsters/icon.png"> All Monsters</p>
                    </div>


                    <div class="item-grid" id="all-monsters"></div>


                    </div><!-- col-md-6 -->


   <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr>
        
    </div>

    <div class="col-md-6">
        <hr>


    <br/>


    
</div> <!-- / row -->
</div> <!-- / modal-content -->
</div> <!-- / modal-content wrapper -->
</div> <!-- / modal -->