<div id="options-modal" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">


    <span class="close" onclick="closeModal('options-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>
    
         <div style="margin-top: -30px;" class="ribbons">
                
                <span><image class="icon-24" src="img/icons/gear.png" />Options</span>

        </div>  
    
   <br/>
    
    <div class="IMR_modal-content">



   <div class="col-md-12">

   

   <div class="row">


            <div class="row">
                <div style="margin-left:0px; text-align:center;" class="col-md-12">
                

                    <h6 style="text-align: center" id='autosave'>Auto-Saving in 0</h6>
                       <h3> Version:</h3> 
                    <span id="version-number-options"></span></div>

                    <br />
  
                </div>

            </div>

                <button class="btn btn-success btn-box" onclick="saveGameUI()">Save Game</button>

                <button class="btn btn-warning btn-box" onclick="exportSaveFile()">Export Save</button>

                <input type="file" id="importSaveFile" onchange="importSaveFile(this)" style="display: none">

                <button class="btn btn-danger btn-box" onclick="document.getElementById('importSaveFile').click()">Import Save</button>

                <button class="btn btn-danger btn-box" onclick="openConfirmationModal(clearLocalStorage)">Clear Save</button>

                <button id="sound-button" class="btn btn-default btn-box" onclick="toggleSound()">Sound: &#128264;</button>

                <button id="fullscreenButton" class="btn btn-default btn-box" onclick="toggleFullscreen()"><image class="icon-64" src="img/fullscreen.png" /></button>


                <br />


            <div class="filler-30"></div>

    </div> <!-- / row -->

       
        <div class="col-md-3"></div>
        <div style="display:block; height:auto;" class="image-container col-md-6">
            <div style="margin-top: -30px;" class="ribbons">
                    
                    <span><image class="icon-24" src="img/icon_64.png" /> Credits</span>

            </div> 
            <br/>

            <div style="text-align: left; margin-left: 5vw;">
             
                 <h4>Monsters Images provided by<a target="
                "href="https://aekashics.itch.io/aekashics-librarium-librarium-static-batch-megapack"> Aekashics from Itch.io</a></h4>
            
                <br/>
                <h4>Icons provided by <a target="
               "href="https://www.flaticon.com/">Flaticon</a> and <a target="
               "href="https://icons8.com.br//">Icon8</a></h4>

               <br />

                <h4>Images provided by <a target="
               "href="https://www.freepik.com/">Freepik.com</a></h4>   

               <br />

                <h4>SFX and Music provided by <a target="
               "href="https://freesound.org/">Freesound.org/</a></h4>   

                <br />

                <h4>Title Background Image generated by <a target="
               "href="https://leonardo.ai/">Leonardo.ai/</a></h4>

               <br />
            </div>

        </div>

   </div><!-- col-md-12 -->


   <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr>
        <div class="">
            <div>

                

            <div id="message-info" class="info hidden"></div>

        </div>
    </div>

    <div class="col-md-6">
        <hr>
    <br/>


    
</div> <!-- / row -->
</div> <!-- / modal-content -->
</div> <!-- / modal-content wrapper -->
</div> <!-- / modal -->