<div id="select-monster-modal" style="z-index: 888;" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">


    <span class="close" onclick="closeModal('select-monster-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>
    
  
   <br/>

   <div class="row">
     <div class="col-md-3"></div>
     <div class="col-md-6">
         <center>
         <div class="ribbons">
             
             <span><img class="icon" src="img/icons/skull.png">Monster Collection</span>

         </div>  
         </center>         

     </div>
   </div>
    
    <div class="IMR_modal-content">



     <div class="col-md-1"></div>
                    
    <div class="col-md-10">


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 monsterProfile image-container">

            <h1>Selected:</h1>
            <image id="current-monster-profile-image" class="icon-80 current-monster-profile-image" src="img/UI/blank.png" />
            <h6 style="font-size: 1.5vw;" class="center-text current-monster-profile-name" id="current-monster-profile-name">Your selected monsters will be shown here</h6>
            <div class="filler-30"></div>

        </div>
        <div class="col-md-4"></div>
    </div>



    <div class="item-grid" id="monsters"></div>


</div><!-- col-md-6 -->


   <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr>
        
    </div>

    <div class="col-md-6">
        <hr>


    <br/>


    
</div> <!-- / row -->
</div> <!-- / modal-content -->
</div> <!-- / modal-content wrapper -->
</div> <!-- / modal -->