<div id="town-modal" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">


    <span class="close" onclick="closeModal('town-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>
    
     <div class="row">
            <div class="col-md-4">

            </div> <!-- col md 4 -->
            <div class="col-md-4">
                <center>

                <div class="ribbons">
                    
                    <span>&#127968; Town

                        <span id="townName"></span>
                    </span>

                    <div class="filler-30"></div>
                    <div class="row">

                        <div style="margin-left:0px; text-align:center;" class="col-md-12">

                        <h3>
                            <h5>Our Beloved Mayor:</h5> </h3>
                            <span id="mayorName"></span>
                            <br />
      
                       </div>

                    </div>

                </div>  

                </center>   

                   <div class="row">

                    <div class="hidden">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="btn-group btn-group-justified">
                                <span class="btn btn-default disabled">Population</span>
                                <span id="population-total" class="btn btn-default disabled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="btn-group btn-group-justified">
                                <span class="btn btn-default disabled">Max</span>
                                <span id="population-max" class="btn btn-default disabled"></span>
                            </div>
                        </div>
                    </div>

             
                </div><!-- / row -->      

            </div>
        </div>
    
   <br/>
    
    <div class="IMR_modal-content">

                  
        <p style="font-size: 1vw; color:red">Here is where you buy most of automations. You need to craft Elemental Runes to purchase gather upgrades. You can scroll down to see more options.</p>

        <div class="row header">

         
                
                <div class="row">

                    <br/>

                    
                 <div class="col-md-2">

                    <!-- Empty content here -->

                </div><!-- col-md-6 -->


                <div class="col-md-8">
                   <!-- put a content here -->


            <div class="alert alert-info alert-dismissable">
                
                <p>Purchase these items to automate the resource collection tasks</p>
            </div>

            

            <div id="workers"></div>




        </div><!-- col-md-6 -->

        



    </div><!-- /row -->

    <hr>

    <div class="row">


       <div class="col-md-6 hidden">

         <div class="alert alert-info alert-dismissable">
            
            <p><img class="icon" src="img/images/pickaxe.png"> Use the resources you have gathered to build some accommodation so that you can hire workers. Some buildings need to be researched before you are able to build them.</p>
            <br/>
        </div>


        <div id="buildings"></div>


    </div><!-- col-md-6 -->




    </div>


    </div><!-- / row header -->

    <div class="filler"></div>

    </div> <!-- modal content -->
  </div> <!-- modal content wrapper-->
</div>