<div id="tutorial-modal" class="IMR_modal">

    <div class="IMR_modal-content-wrapper">


    <span class="close" onclick="closeModal('tutorial-modal')"><img class="icon-36" src="img/UI/Img_10.png"></span>
    
         <div class="ribbons">
                
                <span><img class="icon-36" src="img/tutorial.png"> Tutorial</span>

            </div>  
    
   <br/>
    
    <div class="IMR_modal-content">


    <div class="col-md-1"></div>
   <div class="col-md-10">

    
<h1>Hello Adventurer <div id="tutorial-adventurer-name"></div>
</h1>
<p>In this tutorial, you will find the essential steps you need to know to play the game. You can access it anytime
    by clicking on the question button at the top right. Additionally, you can scroll through windows like this one
    when their content is lengthy.</p>
    <p>Choose the items below you want to know about:</p>
    <br>

<div class="col-md-2"></div>
<div class="row">

    <button class="tab col-xs-2 btn btn-success" class="tablinks"
    onclick="openCity(event, 'Islands')">Islands</button>
<button class="tab col-xs-2 btn btn-primary" class="tablinks"
    onclick="openCity(event, 'Monsters')">Monsters</button>
<button class="tab col-xs-2 btn btn-danger" class="tablinks"
    onclick="openCity(event, 'Farming')">Farming</button>
<button class="tab col-xs-2 btn btn-sucess" class="tablinks"
    onclick="openCity(event, 'Runes')">Runes</button>

</div>

<div class="col-md-2"></div>
<div class="row">

    <button class="tab col-xs-2 btn btn-danger" class="tablinks"
    onclick="openCity(event, 'Market')">Market</button>
<button class="tab col-xs-2 btn btn-primary" class="tablinks"
    onclick="openCity(event, 'Automation')">Automation</button>
<button class="tab col-xs-2 btn btn-success" class="tablinks"
    onclick="openCity(event, 'Updates')">Updates</button>
    
</div>



<br /><br />

<div id="Islands" class="tabcontent">
    <h1>Islands</h1>
    <p>To purchase islands, you must collect the required resources, which are shown when you hover over the islands
        adjacent to the ones with dotted borders. Each island offers different content, including shops and monsters..
    </p>
</div>

<div id="Monsters" class="tabcontent">
    <h1>Monsters</h1>
    <p>The currently available monster types are: fire, water, earth, and plant. New types will be added soon. Each
        monster type has its own strengths and weaknesses, which influence both their attacks and defenses in battles.
    </p>
    <p>Monsters are automatically collected when you have a magic box of a specific rarity in your inventory. Magic
        boxes can be purchased in shops on the islands.</p>
    <p>Monsters are randomly encountered based on their rarities while exploring the battlefield of the islands. Some of
        them can also evolve when they reach level 20 and level 30.</p>
    
</div>

<div id="Farming" class="tabcontent">
    <h1>Farming</h1>
    <p>To feed the monsters, you can use magic potions, or for them to self-feed during combat, you must plant magical
        lotus flowers according to the monster's type. To plant the flowers, you must buy seeds in the shops and
        purchase available land slots on the farm.</p>
</div>

<div id="Market" class="tabcontent">
    <h1>Market</h1>
    <p>You can craft your own coins by purchasing the entire automation process, or you can simply sell your resources in the market or by using your inventory. In the inventory, you can sell elemental essences, lotus flower seeds, or lotus flowers. For other resources, like gold, rune essence, or iron, for example, you can only sell them in specific markets on the islands you unlock.
    </p>

</div>


<div id="Runes" class="tabcontent">
    <h1>Elemental Runes</h1>
    <p>By default, each monster uses a common attack. To activate elemental powers, you must craft elemental runes for
        each type of monster using elemental essences, which are dropped by monsters, and base runes, which are
        collected in the caves by mining ores.</p>
</div>


<div id="Automation" class="tabcontent">
    <h1>Automation</h1>
    <p>In the main city of the game, there are options for automation. To activate them, you must meet the requirements
        on the right side of each automation button. The requirements are usually elemental runes.</p>
</div>

<div id="Updates" class="tabcontent">
    <h1>Updates</h1>
    <p>I'm planning to release regular content updates for this game over the next few months. Please feel free to
        communicate any issues you encounter so that I can address them as soon as possible.</p>
    <!-- p>The most important update I'm planning to include is Prestige. I know many of you love this feature, but I
        couldn't implement it before the initial release. Rest assured, I'll work on adding it as soon as possible!</p -->
</div>

   </div>


   <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr>
        
    </div>

    <div class="col-md-6">
        <hr>


    <br/>


    
</div> <!-- / row -->
</div> <!-- / modal-content -->
</div> <!-- / modal-content wrapper -->
</div> <!-- / modal -->
