 <div class="modal fade" id="onLoadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div style="background-color: #1f222a; color: #ffffff;" class="modal-content border-outline-regular">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel">Hello stranger! Welcome to the land of Arcadius!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Arcadius is a distant world known for harboring a wide variety of elemental creatures. Explore all the biomes and capture as many creatures as you can! Have a great adventure!</p>
  
                        <h3 class="hide">Name Your Town:</h3>
                        <input class="hide form-control" id="town" type="text" value="">
                        <h3>Hero name:</h3>
                        <input class="form-control" id="mayor" type="text" value="">

                        <div class="filler-30"></div>

                        <h3 style="color:#e06c6c">Select your initial class </h3>
                        <div class="row">

                            <div class="col-xs-4">
                                 <button onclick="selectInitialClasss('assassin')">
                                    <image class="banner-120" src="img/sprites/assassin_portrait.png" />
                                </button>

                            </div>
                            <div class="col-xs-4">
                                <button onclick="selectInitialClasss('wizard')">
                                  <image class="banner-120" src="img/sprites/wizard_portrait.png" />
                              </button>
                            </div>

                              

                            <div class="col-xs-4">
                                <button onclick="selectInitialClasss('knight')">
                                    <image class="banner-120" src="img/sprites/knight_portrait.png" />
                                </button>
                            </div>
                        

                        </div>

                    </div>

                </div>
            </div>
        </div>