

<!-- === SUA TAB EXISTENTE === -->
<div id="tab-explore" class="row tab-content land show">

  <!-- UI & header -->
  <!-- div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <center>
        <div class="ribbons-fixed hide">
          <span><img class="icon" src="img/icons/compass.png"> Arcadius Land <h2 style="color:red" id="is-dev"><h2></span>
        </div>  
      </center>         
    </div>
  </div -->

  <!-- Quest / Conteúdo -->
  <div class="questContainer-wrapper hide">
    <h3 style="color:rgb(203, 61, 61)"><img class="icon" src="img/quest.png"> Quest List</h3>
    <div id="questContainer" class="questContainer"></div>
  </div>

  <!-- Grid + Jogo -->
  <div class="row">

     <!-- canvas starts without logical size; we set after loading the map -->
    <div id="gameCanvas">

        <script src="js/world_new.js"></script>

    </div>

    <div class="land-grid hide" id="islandGrid"></div>
    
  </div>

   <div id="mini-combat" style="display: none" class="mini-combat-wrapper">
        <span class="close" onclick="openCombatModal()"><img class="icon-36" src="img/UI/maximize.png"></span>
        <div class="row col-md-12">
                    <div class="col-md-1"></div>

                    <div class="col-md-5">

                        <div class="monsterProfile">

                            <image id="player-image-mini-combat" class="icon-64" src="img/monsters/2blazercraw.png" />
                                <p class="center-text" id="current-monster-mini-combat-name">Monster1</p>
                                <span style="float:right; margin-left:5px" class="number-circle-lg" id="player-level-mini-combat">1</span>

                        </div>
                        
                        <div style="height:20px" class="progress">
                        <div id="current-monster-mini-combat-lifeBar" class="progress-bar rounded progress-bar-red" role="progressbar" style="width: 0%;"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div style="height:20px" class="progress">
                        <div id="current-monster-mini-combat-xpBar" class="progress-bar rounded progress-bar-purple" role="progressbar" style="width: 0%; height:70px"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

 

                </div>


                <div class="col-md-5">

                    <div class="monsterProfile">

                        <image id="enemy-image-mini-combat" class="icon-64" src="img/monsters/1leafstricke.png" />
                            <p class="center-text" id="enemy-monster-monster-mini-name">Monster2</p><span style="float:right; margin-left:5px" class="number-circle-lg" id="enemy-level-mini-combat">1</span>
                            


                    </div>

                    <div style="height:20px" class="progress">
                        <div id="enemy-monster-mini-combat-lifeBar" class="progress-bar rounded progress-bar-red" role="progressbar" style="width: 0%;"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                <br/>

                </div>

        </div><!-- row -->

    </div><!-- mini-combat -->

  <div class="filler-100"></div>
</div> <!-- / tab-explore -->


<!-- === SCRIPTS === -->
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Scripts do seu jogo -->
<script src="js/camera.js"></script>
<script src="js/mobs.js"></script>


